{% trans_default_domain 'field.tire.profile' %}

{# null = б/р (без размера) #}
{% if value is not empty and value !== 'null' %}
    <span class="small text-muted">{{ 'label'|trans }}:</span> {{ value }}
{% endif %}
